.DS_Store
.vscode

Pacman/bin/
TicTacToe/bin/
Neural-Networks/Practice/datasets

Neural-Networks/Pytorch/data/cifar-10-batches-py
Neural-Networks/Pytorch/data/cifar-10-python.tar.gz

Reinforcement-Learning/Practice/Pac-man/venv